<div class="w3-panel w3-card-2">
  <%= bootstrap_form_for bill, :url => {:action => "create"} do |f| %>    
    <input class="btn btn-primary" style="margin-bottom: 10px; margin-top: 10px;" type="submit" value="RAISE A CLAIM REQUEST"></input>
  <% end %>
</div>
