<div class="row">
  <div class="w3-panel w3-card-2">
    <div class="col-md-12 text-center">
		<h1>ABOUT US</h1>

	<ul style = "list-style: none;">
		<li>
			<h2>Welcome to the next generation in selling and buying vehicles</h2>
		</li>
		<li>
			As the founders of TDC Auto Auction, we have spent our lives in the automobile business.  That’s why we understand how time consuming and expensive it is to find quality used vehicle inventory.

		</li>
		<br>	
		<br>			
		<li>
			This application was developed with the sole purpose of making online auctions fast, easy, and inexpensive so any used car dealer can find and buy vehicles easily at wholesale in real time.  By using sophisticated software technologies to match dealers offering unwanted trade-ins with qualified wholesale buyers, TDC Auto Auction is your bes choice to sell and buy vehicle in real time!
		</li>	
		<br>	
		<li>
			The auto business is ever-changing so save money and time, and buy your inventory on line now   <%= link_to "REGISTER NOW", new_user_registration_path, class: "btn btn-primary" %>				
		</li>

	</ul>
</div>		
</div>
</div>
