<div class="row">
  <div class="w3-panel w3-card-2">    
    <h1>TDC DIGITAL MEDIA BLOG</h1> 
        <div class="w3-panel w3-card-2">
              
            <div class="col-sm-12 text-center">                                                        
                <br>            
                <h3>THE NEW BEGINNING</h3>
                <h5>By: TDC DIGITAL MEDIA</h5>
                
                <img width="100%" height="350px" src="//s3-us-west-1.amazonaws.com/tdcdigitalmedia/TDCAUTOAUCTION++Auction+Your+Cars+Realtime+for+free.png"></img>
                <br>
                <br>
                 <%= social_share_button_tag( "TDC DIGITAL MEDIA BLOG" , :url => "www.tdcautoauction.com/blog", :image => "s3-us-west-1.amazonaws.com/tdcdigitalmedia/TDCAUTOAUCTION++Auction+Your+Cars+Realtime+for+free.png" , desc: "The New Beginning" ) %>   
                <br>
                <br>
                                                                             
            </div>   

            <div class="col-md-12 ">
                <p style = "text-align: justify;">
                   After going through tough times, moving our office to Arizona from New York, learning from our mistakes and restructuring our company, we are very happy and excited that our product <a href = "//www.tdcautoauction.com/">TDC AUTO AUCTION</a>  is live, and turning heads. We have started to expand our sales team by hiring more representatives <a href = "//www.indeed.com/viewjob?jk=0c5df55a19ab6da4&tk=1bk0i5an85j54f07&from=company">Apply Here for Outside Sales Representative job, if intrested! </a>. But we also know very well that we can't celebrate now. Its just the new beginning and we have miles to travel. Its the time for us to shift our focus, be restless, reach out and show others how great a product we have launched, and what great upcoming products we have on the verge of being launched soon for the automotive industry. <br> Through our long journey in the automotive industry, starting as a simple dealer marketing solution company we learned a lot in the process. In the past, when we shifted our focus to provide web based marketing solutions we gained a lot of trust, did very well in revenues generation with good yet not best products. We did the mistakes of not being proactive in a market place full of competition and new advancements. We saw helplessly what no company would ever want to see. Loosing a lot of customers one by one and with each loss realising what mistakes we made. Those were tough times for us. We had to let go of few of our dear employees, cut down our expenses and try to do damage control. We decided it was time to take a short break in the months of October 2016. We had to sit down and focus on the root causes and solve them one by one. We know we have it in us, we know we could solve the problems automotive dealers have to face due to monopolised market and how we can provide software solutions to help them increase their conversions and in turn their profit. <br> We have worked very closely with automotive dealerships and wholesale customers and we know how many compromises they have to make. We know they want better solutions than a wordpress website or an excel sheet based inventory management system. We know they wish there was something better but it should be our job to think what they want and we know they dont have enough time to learn about the technological jargons. They have to focus on their business. At the end they get frustrated with the valuable time being spent on softwares, web-apps and analytics and ultimately go ahead with whatever the market has to provide. <br> In todays world of web and mobile apps, we strongly feel a dealer doesn't have the same power of choice that his/her customer has. Better options means tough competition among dealerships and better products and more sales but unfortunately they don't have the power of choice. They end up choosing the same solution chosen by their competition who are one step ahead with the goal of surpassing them. <br> Our vision for the new TDC is to focus on each simple but clogging problems a dealership has to face everyday and how can we provide efficient solutions curated for each dealerships and build softwares through which they get the power they deserve.<br>                   

                    <a href = "https://en.wikipedia.org/wiki/Auction"> Auction </a> is such a niche market. We have seen very closely the overall expense a dealership has to bear so that at the end he/she will have 50% chance to auction a vehicle successfully. We decided to find the solution and start right here<br>
                    We started with changing our development stack to Ruby and Javascript, hiring new developers who believe in us and our dreams and assigning the tasks of creating great product line which will be head turners. With efforts of our development team, finally we launched <a href = "//www.tdcautoauction.com/">TDC AUTO AUCTION</a> in beta phase two week back. We feel happy that our solution has been welcomed by more than 30 dealerships. We wanted <a href = "//www.tdcautoauction.com/">TDC AUTO AUCTION</a> to be ubiquitous and unrestricted and chose it to be highly responsive web app instead of native app which takes up extra space and resources. We deicded to use caching solutions and cookied to help with the performance. Also, we wanted to lower down per vehicle costs incurred no matter what the highest bid was and chose a new buyers premium scheme depending upon the high bid. See <a href = "//www.tdcautoauction.com/pricing"> pricing </a> for info. Taking customer satisfaction and transparency in our efforts in providing services to the dealers, we are now working hard on our sales and marketing deliverables. We just thought we should share with you the exciting journey we are going through so you can hop on the ride. <br>
                </p>
                    <iframe width="100%" height="300px" src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/AwesomeScreenshot-2017-07-02T03-58-09-889Z.webm" frameborder="0" allowfullscreen></iframe>
                    <br>
                    <br>
                <p style = "text-align: justify;">
                    Our emphasis was on sleek and beautiful yet simple UX design so buyers can easily interact with the app through any device and can start bidding immediately. Integration of Search and Map based interactivity empowers the buyers to save time with respect to focusing on live auctions near their location. To eliminate bias and mal-practices we decided to allow the information disclosure only after both parties decide to move ahead with accepting the offer. We integrated an email and text based notification system so that the dealers won't miss any opportunity. <a href = "https://en.wikipedia.org/wiki/Bidding">Bidding</a> and Counter offers are the two ways any <a href = "https://en.wikipedia.org/wiki/Vehicle">vehicle</a> can be sold. We used socket programming and RESTful architecture to ensure a real time interface for bidding and auctioning. With special emphasis on device compatibilty, we customized the app accordingly to be sleeker and simpler using most features of each devices yet sparing the most resources.
                </p>
                    <iframe width="100%" height="300px" src="https://s3-us-west-1.amazonaws.com/tdcdigitalmedia/AwesomeScreenshot-2017-07-02T03-59-51-725Z.webm" frameborder="0" allowfullscreen></iframe>

                <p style = "text-align: justify;">
                    To make listing a vehicle fast and save time of sellers, we decided to use asynchronous <a href = "https://en.wikipedia.org/wiki/Ajax_(programming)">ajax</a> API calls to autofill vehicle details automatically as soon as VIN field is filled by the seller. Interacting with the API in realtime and saving a lot of time, this feature works perfectly, as shown in the video above. The moment you start an auction on the product, everyone registered get the email notification and the starts participating in the auction.<br>
                    We are very excited about our product but we also know a software is never complete and can always be better than what it is today with help of our customer reviews. Our development team is working hard to make tdcautoauction better each day. We would soon be launching our other cool <a href = "https://en.wikipedia.org/wiki/Software">products</a> as well. All the product development focus being providing what the <a href = "https://en.wikipedia.org/wiki/Car_dealership">automotive dealers</a> deserve. We would love to hear from you. if you are intrested in taking advantage of TDC AUTO AUCTION, View our <a href = "http://www.tdcautoauction.com/guidelines"> Product Guidelines Page</a> , and email us to know more or register: <br> <a href="mailto:tdcautoauction@tdcdigitalmedia.com" style = "text-decoration: none" target="_top"><h2>Send Email</h2></a>
                    <br> Although we are focusing on <a href = "https://en.wikipedia.org/wiki/Arizona">Arizona</a> right now, but  we would love to hear from you anyways :)
                    </br>
                    ADIOS!!
                </p>
                <%= social_share_button_tag( "TDC DIGITAL MEDIA BLOG" , :url => "www.tdcautoauction.com/blog", :image => "s3-us-west-1.amazonaws.com/tdcdigitalmedia/TDCAUTOAUCTION++Auction+Your+Cars+Realtime+for+free.png" , desc: "The New Beginning" ) %>   
                <br>
                <br>


             </div>
        </div> 
        
    </div>   
</div>





