<div class="row">
  <div class="w3-panel w3-card-2">
    <div class="col-md-12 text-center">
            <h1>CONTACT US</h1>  
            <p>
             If you have a question feel free to call us at the number below or use the link below to email us             
            </p>
             <a href="mailto:tdcautoauction@tdcdigitalmedia.com" style = "text-decoration: none" target="_top"><h2>EMAIL US</h2></a>
             <h3>OR</h3>
            <a href="tel:866-338-7870" style = "text-decoration: none"><h2>Click To Call +1-866-338-7870 Extension 5</h2></a>            
        </div>
    </div>
</div>
