 <div class="row">
     <div class="w3-panel w3-card-2">
            <h1>FAQ</h1> 
             <div class="col-md-12 text-center">  
                    <h3>What is TDC Auto Auction?</h3> 
                    <br>             
                    <p style = "text-align: justify;">
                        TDC Auto Auction is an online real time auto auction conducted all through the week providing users with real time auctioning for vehicles. The site is designed to match used car dealers (buyers) with fresh trade-ins being sold wholesale by new car dealers (sellers) without having to drive to the auto auction.
                    </p>
                </div> 

                 <div class="col-md-12 text-center">  
                    <h3>Is there a cost to register for TDC Auto Auction?</h3> 
                    <br>             
                    <p >
                        No, TDC Auto Auction is free to use. The following fees are applied only when you win an auction and decide to pay. pricing page <%= link_to "Click For Buyer's premium", pricing_path %>         
                    </p>
                </div>

                 <div class="col-md-12 text-center">  
                    <h3>Can I see, touch, and appraise vehicles before I bid?</h3> 
                    <br>             
                    <p>
                        Yes, <%= link_to "Click Here To Contact Us For Vehicle Inspection", "mailto:TDCAutoAuction@TDCDigitalMedia.com?Subject=Vehicle%20Inquiry in order to arrange to look at the vehicle}" %>  
                    </p>
                </div>             
                 <div class="col-md-12 text-center">  
                    <h3>What payment methods are acceptable?</h3> 
                    <br>             
                    <p >
                        Method of payment for the vehicle is determined by the individual selling dealer. Transaction fees to TDC Auto Auction are deducted automatically from the credit card you provide us. 
                    </p>
                </div>             
                    
                 <div class="col-md-12 text-center">  
                    <h3>How much is the buyer fee?</h3>
                    <br>             
                    <p>
                        Please refer our pricing page <%= link_to "Click For Auction Pricing", pricing_path %>
                    </p>
                </div>
                 <div class="col-md-12 text-center">  
                    <h3>When do auctions take place?</h3> 
                    <br>             
                    <p >
                        Auction take place throughout the day. A Seller determines the auction end times and then the auction goes live. We send you email whenever a new auction starts. Please check you inbox and spam box.
                    </p>
                </div>
                 <div class="col-md-12 text-center">  
                    <h3>When can I Bid?</h3> 
                    <br>             
                    <p style = "text-align: justify;">
                        You can bid on any live auction. We also send notification on the email you have used to register. Please check your spam box too. On the home page or on live auction page, click on the picture of the car you'd like to bid on. This takes you to an information page about the car, equipment, miles, condition, warranty etc. Be sure to note any special payment instructions required by that dealer. Enter your bid in the box labeled "enter bid" then click the "place bid" button to submit. Bids must be in increments of at least $50. 
                    </p>
                </div>
                 <div class="col-md-12 text-center">  
                    <h3>Can I advance the bid by more than $100?</h3> 
                    <br>             
                    <p >
                        Yes, right now we allow a minimum bid of $50 and more on each bid.<br>                    
                    </p>
                </div>
                 <div class="col-md-12 text-center">  
                    <h3>Does the high bidder automatically get to buy the car?</h3> 
                    <br>             
                    <p style = "text-align: justify;">
                        Not necessarily. Just like at an auction, the seller may require a higher minimum amount in order to sell the car. Of course if your high bid is acceptable, the seller will award you the car. If your bid is not aceptable, the seller may not accept it. The seller may raise a counter offer and all users will receive the email about counter offer. The first bidder to click "Accept Counter offer" and pay the buyers premium on it will be awarded the car for the new amount. Also, you will win only when you choose to pay the buyer's fee. We recommend you choose to pay the buyer's premium as soon as possible within 24 hours because even after accepting an offer (but not paying the fee) the seller may decide to cancel and put the vehicle back for another auction
                    </p>
                </div>
    </div>
</div>