<div class="row">
  <div class="w3-panel w3-card-2">    
    <h1>GUIDELINES AND HELP</h1> 
        <div class="w3-panel w3-card-2">
              
            <div class="col-md-12 text-center">                                                        
                <br>            
                <h3>WALKTHROUGHS</h3>
            </div>   

            <div class="col-md-12 ">
                <p style = "text-align: justify;">
                    Hello! Thank you for choosing TDC Auto Auction! Here, we have put together videos and steps to follow for both buyes and sellers to help you win an auction or get your vehicle up in an auction. We recommend you follow the videos to get a good understanding of our product. We want to give you complete flexibility on your auctions and provide simplicity in both auctioning vehicle and winning one. The videos below are targeted towards both sellers and buyers so choose the one you are intrested in. We recommend you go through each one to have a complete understanding.
                </p><br>
                <p style = "text-align: justify;">
                    If any help is needed or you face any problem, please feel free to contact us at tdcautoauction@tdcdigitalmedia.com with your concern as the main subject line. Our team will always make sure you get the best service without facing problems
                </p>
                
             </div>
        </div> 
        <div class="w3-panel w3-card-2">
            <div class="col-md-12 text-center">  
                <h3>HOME PAGE AND HOW TO REGISTER: FOR BOTH BUYERS AND SELLERS</h3> 
                <p style = "text-align: justify;">
                    In this video our developer will walk you through the process of regsitration so as to help you get started with TDC Auction App. Registration is simple but if you want to avail our full service, which includes email notification whenever a new auction starts or a new text message whenever you get outbid in an auction you are participating, we recommend you fill out all the details in registration form. This way you can go along doing your normal day work, save time and come back to the app, follow the auction link we provide and get back right to the auction to bid.
                </p><br>             
                <iframe width="100%" height="350px;" src="https://www.youtube.com/embed/7MA1AzvQTh0" frameborder="0" allowfullscreen></iframe>
            </div>         
        </div>
        <div class="w3-panel w3-card-2">
            <strong><h3 style = "color: red;">FOR SELLERS</h3></strong>
            <p style = "text-align: justify;">
                    Hello Sellers! These video grouped together are meant to help you out with all the details you will need to get your car up in an auction and sell it online. Our developer will explain each of the steps broken down in videos. We recommend you follow the videos before proceeding, to save your own time afterwards. We also believe making everything clear right from start is the best way to go. You can add any number of vehicles but our team will verify the information you provide so please don't provide misleading informations <br>
                    You can start your auction and set the end time as per your choice. Adding any vehicle is free and you can always start any auction or put product back on auction if no one won the auction. You can also specify the minium amount you want the auction to start with, Just put the nimimum in the start bid. 
                    <br>We dont disclose the buyer's information on the app to you, however you can always contact us if you wish to be the first one to contact them. 

                    We charge very low service fee to the buyers. You can see our product pricing tab in the footer to check it out. Only when we receieve the buyer's premium i.e. our service fee, we make your information available to the buyers, and inform them to contact you. That's why its really important for you to provide all the complete informations needed while registering with us so buyers wont have any issues.  
                    <br>
                    We have no limit on the number of cars you add, so start adding vehicles, start auctions and get your vehicle auctioned all for free!
                </p><br>
            <br>  
            <br>
            <div class="col-md-12 text-center">  
                <h3> HOW TO: ADD/EDIT A VEHICLE</h3> 
                <br>                 
                <iframe width="100%" height="350px;" src="https://www.youtube.com/embed/apWGqn3RwLA" frameborder="0" allowfullscreen></iframe>
            </div> 
        
        
            <div class="col-md-12 text-center">  
                <h3>HOW TO: START A NEW AUCTION</h3> 
                <br>                
                <iframe width="100%" height="350px;" src="https://www.youtube.com/embed/pPXTKKCcfpY" frameborder="0" allowfullscreen></iframe>
            </div> 
        
    
            <div class="col-md-12 text-center">  
                <h3>HOW TO: RESTART AN OLD AUCTION</h3>
                <br>                 
                <iframe width="100%" height="350px;" src="https://www.youtube.com/embed/eYFLJhS7_4I" frameborder="0" allowfullscreen></iframe>
            </div> 
        </div>
        
        <div class="w3-panel w3-card-2">
            <strong><h3 style = "color: red;">FOR BUYERS</h3></strong>            
            <div class="col-md-12 text-center">                  
                <p style = "text-align: justify;">
                    Hello Buyers! These video grouped together are meant to help you out with all the details you will need to participate and win in any auction. Our developer will explain each of the steps broken down in videos. We recommend you register and provide each necessary field in the registration form so you will be able to receive email and text notifications.<br>The emails may go to your spam folder so we suggest you to check your spam folder as well once you sign up for activities. 
                    <br>
                    We don't charge you for bidding, viewing, registering and participating. Only when you win an auction on a vehicle we will ask you to pay us the buyer's premium i.e. our service fee. The pricing can be seen both on <%= link_to "Product Pricing", pricing_path %> tab and the time when you click on transfer vehicle. Only after you pay our premium depending on the maximum bid and the payment was successful, we will disclose the dealers information to you. For your safety we dont store your credit card information on our database and use paypal gateway to handle transactions. 
                    All you need is a valid credit card. <br>If the payment fails and you feel everything was right, you can always contact us at tdcautoauction@tdcdigitalmedia.com and our team will help you out in no time.
                </p>                
            </div> 
            <br>
            <br>            
            <div class="col-md-12 text-center">  
                <h3>HOW TO: SEARCH AND PARTICIPATING IN AUCTION</h3>  
                <br>            
                <iframe width="100%" height="350px;" src="https://www.youtube.com/embed/VdI7ctLaLiI" frameborder="0" allowfullscreen></iframe>
            </div> 
        
        
            <div class="col-md-12 text-center">  
                <h3>HOW TO: PAY SERVICE FEE AND GET DEALER INFO</h3> 
                <br>             
                <iframe width="100%" height="350px;" src="https://www.youtube.com/embed/gO6FRqyo-Wc" frameborder="0" allowfullscreen></iframe>
            </div>     
            <br>
            <br>
            <div class="col-md-12 text-center">  
                <p >We Are here to help if you need! please feel free to contact us at tdcautoauction@tdcdigitalmedia.com or call us at +1 866-338-7870: Line 5</p> 
            </div>
        </div>                                                
    </div>
   
</div>





