<div class="row" >
  <div class="w3-panel w3-card-2" >
    <div class="col-md-12 text-center">
  	<h1 style = "color: rgb(137,202,220);" >PRICING AND PAYMENTS</h1>

    <h4>Lowest Auction Fees In The Industry</h4>    
    <br>
    <br>
    <h3 style = "color: rgb(137,202,220);" >We Accept Visa, Master Card, American Express, Discover and PayPal </h3>
    <br>
    <h3 style = "color:red">SELLER FEES</h3>
    <br>
    <h3 style = "color: rgb(137,202,220);" >THERE IS NO CHARGE TO LIST A VEHICLE</h3>
    <br>    
	<h3 style = "color:red;">BUYER FEES</h3>
    <p>Sale Price Less than $5000 = 100 USD</p>
	<p>Sale Price Between $5000 And $9999 = 200 USD</p>
	<p>Sale Price Over $9999 = 300 USD</p>
	

	<h3>Note</h3>
	<p>We Dont Store Your Credit Card Details In Our System</p>
	<p>We Use Paypal Gateway To Handle Payments, so That Your Information Is Secured</p>
	<p> However, We do store your billing address, name and amount details for each transaction for record keeping</p>
	


	
    
</div>
</div>
</div>


