.row
  .w3-panel.w3-card-2
    .col-md-12.text-center
      %h1 ADD CREDIT CARD
      %p (For Your Safety, We Don't Keep Your Card Info On Our Database,
      %p  We Offload the data to Paypal Storage)
      = render 'form'
