<div class="video-container">
    <div class="filter"></div>

        <video autoplay loop class="fillWidth">
            <source src="https://s3-us-west-2.amazonaws.com/websitebuilderdonttouch/BW-Scroll.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="https://s3-us-west-2.amazonaws.com/websitebuilderdonttouch/BW-Scroll.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>

    <div class="poster hidden">
    	<img src="https://s3-us-west-2.amazonaws.com/websitebuilderdonttouch/BW-Scroll.jpg" alt="">
    </div>
	   
</div>

<div class="headerdiv" id = "herodiv">

			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-12" id = "leftheaderdiv">
				<h1 id = "large" style = "margin-top: 10%;">TDC</h1>
				<h1 id = "large">AUTO</h1>
				<h1 id = "large">AUCTION<sup style = "color:#FF0000; font-size:15%;"> BETA</sup></h1>

				<h5>FASTEST WAY TO AUCTION YOUR VEHICLE REALTIME</h5>		

			</div>

			<div class = "col-lg-6 col-md-6 col-sm-6 col-xs-12"  id = "rightheaderdiv">
				<h3 style = "margin-top: 10%;">JUST THREE STEPS TO GET YOU STARTED</h3>

				<h4>1. SIGN UP FOR FREE </h4>
				<h4>2. POST YOUR VEHICLE DETAILS</h4>
				<h4>3. SET YOUR AUCTION PARAMETERS AND GO LIVE</h4>	
				<h4>
					<%= link_to 'LIST A VEHICLE', new_product_path, class: "btn btn-primary" %>
				</h4>
					

			</div>


</div>

