<div class="headerdiv" id = "search">
	<h3 style = "margin-top: 10%; margin-bottom: 5%; text-align: center;"> LIVE AUCTIONS </h3>		

<div class="row">  
    <% @productsonauction.each do |product| %>

  <div class="card">
  	  <div class="card_left">	    
            <%= link_to product do %>
              <%= image_tag product.image, height: 200 %>
            <% end %>        
  	  </div>
	  <div class="card_right">
      <h1><%= link_to product.name, product %></h1>
      <div class="card_right__details">                
        <div class="card_right__review">
          <p>CURRENT BID VALUE IS <%= product.auction.value %> $</p>
          <p>
            AUCTION ENDS AT <%= I18n.localize product.auction.ends_at %>   
          </p>
        </div>
        
        <div class="card_right__button">
           <% if (product.user == current_user) %>
  	        <p>
  	          <%= link_to 'Edit', edit_product_path(product) %>
  	          |
  	          <%= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' } %>
  	        </p>
  	       <% end %>
        </div>
      </div>
    </div>
      
    <% end %>  
</div>

</div>



