<div class="headerdiv" id = "search">
	<strong><h3 style = "margin-top: 10%; margin-bottom: 5%; text-align: center;">LIVE AUCTIONS </h2></strong>
<p style = "text-align:center"><%= paginate @productsonauction %></p>
	<%= render "products/liveauctions" %>

</div>

